<html>

<head>
  <script src="browserama.min.js"></script>
</head>

<body>
  <p>
    Open this page in other browsers to verify detection accuracy.
  </p>
  <script type="application/javascript">
    function getProperties() {
      var list = '';
      for (var key in browserama) {
        if (browserama.hasOwnProperty(key)) {
          var value = browserama[key] ? 'Yes' : 'No';
          list += '<li><code>' + key + '</code>: ' + value + '</li>';
        }
      }
      return '<ul>' + list + '</ul>';
    }

    document.write('This browser is: ' + getProperties());
  </script>

</body>